* {
	box-sizing: border-box;
	font-family: Arial;
}

/*first header*/
#navbar-first {
	background-color: #000000;
}

#navbar-first nav {
	height: 30px;
	font-size: 11px;
}

#navbar-first nav div a {
	color: #ffffff;
}

#navbar-first nav div {
	color: #ffffff;
}

#navbar-first a:hover {
	color: #f00;
}

#num-phone {
	font-size: 12px;
}

.item-btn {
	height: 32px;
    margin-top: 11px;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
}


/*second header*/
#navbar-second {
	background: #ffffff;
}

#navbar-second nav {
	height: 107px;
}

#navbar-second .nav-item {
	margin-right: 15px;
}

#navbar-second li:hover {
	color: #ffece7;
	background: #fd926d;
}

#navbar-second nav a {
	font-size: 16px;
	color: #000000;
}

.list-group {
	margin-top: 0px;
}

.list-group-item {
	height: 33px;
	width: 215px;
	padding-top: 3px;
	color: #ababab;
}

#navbar-second nav .list-group a {
	color: #ababab;
}

#cart-option {
	font-size: 12px;
}

#title-option {
	margin-top: 5px;
	font-size: 11px;
}

#group-item-two {
	background: #fafafa;
}


/*slide*/
.main-slide {
	width: 101%;
}

.progress {
	position: relative;
	top: -8px;
	height: 8px;
	background: none;
}

.progress-bar {
	height: 5px;
	width: 65%;
	filter: blur(15px);
	background: #000000;
}

#content-slide-first {
	position: absolute;
	left: 175px;
	top: 70px;
	z-index: 1;
	text-align: center;
}

#img-text-crazy hr {
	position: relative;
	top: -40px;
	z-index: -1;
	background: #78645d;
}

#img-text-crazy img {
	background: #f6f3ec;
}

#img-text-crazysummer {
	margin-top: -35px;
}

#img-text-crazysummer p {
	margin-top: 10px;
	margin-bottom: 5px;
	height: 5px;
	background: #78645d;
}

#img-text-womancolection p {
	margin-bottom: 14px;
	height: 1px;
	background: #78645d;
}

#img-text-womancolection {
	margin-bottom: 18px;
}

.theme-control-icon {
	margin-top: 163px;
	width: 30px;
	height: 117px;
	background: #fefefd;
}

.carousel-indicators {
	position: relative;
	top: 559px;

}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	margin-right: 6px;
	margin-left: 3px;
	border-radius: 10px;
	background: #867a76;
}

.carousel-indicators .active {
	background: #fd926d;
}


/*content*/
#find-info-bar {
	width: 100%;
	height: 55px;
	margin-top: 76px;
	background: #ededed;
}

input {
	height: 30px;
	width: 162px;
	margin-left: 10px;
	padding-left: 10px;
	border: 0px;
	font-size: 12px;
	font-style: italic;
	color: #c2c2c2;
}

#find-info-bar a {
	position: relative;
	left: -32px;
}

.form-group {
	margin-bottom: 0px;
	margin-top: 0px;
}

#find-info-bar span {
	font-size: 12px;
	color: #777777;
}

#social-find {
	position: relative;
	right: -30px;
}

#social-find span {
	margin-right: 45px;
}

#social-find img {
    margin-right: -4px;
}

.card {
	border: none;
	border-radius: 0px;
}

#first-content {
	margin-top: 40px;
}

#first-content img {
	width: 100%;
}

.col-md-6 {
	padding: 0px;
}

#block-img-no2 {
	padding-right: 17px;
}

#img-first-no1 {
	margin-right: 0px;
	padding-left: 15px;
	padding-right: 1px;
}

#img-first-no2 {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

#block-img-no3 {
	padding-top: 2px;
}

#img-first-no3 {
	padding-right: 2px;
	margin-right: 0px;
}

#img-first-no4 {
	margin-left: 0px;
}

#content-img-first {
	position: relative;
	top: -305px;
	left: -170px;
	text-align: center;
}

#best-title {
	margin-bottom: 13px;
}

#outfit-title {
	margin-top: -13px;
}

#and-title img{
	position: relative;
	z-index: 1;
	margin-left: -15px;
}

#hr-title {
	position: relative;
	top: -18px;
	left: 565px;
	width: 212px;
	height: 1px;
	margin-bottom: 5px;
	background: #414141; 
}

#content-img-second {
	position: relative;
	top: -575px;
	left: 707px;
}

#content-img-third {
	position: relative;
	top: -405px;
	left: 700px;
}

#content-img-fourth {
	position: relative;
	top: -520px;
	left: 960px;
}

#btn2 {
	position: relative;
	top: 62px;
	left: -120px;
}

#slide-second {
	margin-top: -405px;
}

#slide-second nav {
	margin-bottom: -8px;
}

#slide-second nav a:hover {
	background: #fd926d;
	color: #ffece7;
}

#slide-second a {
	color: #555555;
}

.carousel-control-btn-next{
	margin-right: 17px;
	margin-top: -49px;
}

.carousel-control-btn-prev {
	margin-top: -49px;
	margin-left: 1025px;
}

.carousel-control-btn-next:hover, .carousel-control-btn-prev:hover {
	background: #fd926d;
}

.control-icon, .control-icon{
	margin-bottom: 8px;
    font-size: 45px;
    color: #979797;
}

.control-icon:hover, .control-icon:hover {
	color: #ffffff;
}

#slide-second .carousel-item img:hover {

} 

#brand-sell-off hr {
	margin-top: -88px;
    margin-bottom: 100px;
    color: #d8d8d8;
}

#brand-sell-off img {
	margin-top: 5px;
	margin-left: 42%;
}

#favorite-brand img {
	position: relative;
    left: 44%;
    top: 52px;
}

#favorite-brand hr {
	margin-top: 36px;
    margin-bottom: 25px;
	color: #d8d8d8;
}

.brand .col-md-1 {
	margin-right: 45px;
}

#about-lookShop {
	margin-top: 10px;
    text-align: center;
}

#about-lookShop h5 {
	font-family: Arial;
	font-size: 24px;
	color: #414141;
}

#about-lookShop p {
	font-family: Arial;
	font-size: 14px;
	color: #c6c6c6;
}

#creditCard-bar {
	background: #f7f7f7;
}

#creditCard-bar div {
	margin-left: 60px;
}

#creditCard-bar p {
	position: relative;
    top: 20px;
    left: 300px;
    font-family: Arial;
    font-size: 12px;
    color: #cccccc;
}

#creditCard-bar img {
	position: relative;
    top: -20px;
    left: 390px;
}

.title-header {
	margin-top: 35px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #544f4d;
}

#inner-info {
	height: 225px;
	background: #ededed;
}

.info-detail p {
	margin-bottom: 3px;
	font-size: 12px;
	color: #8c8a89;
}

.block-social-icon {
	margin-left: -10px;
    margin-right: 65px;
}

#secured-percent img {
	margin-left: 70px;
	margin-top: 65px;
}

#bottom-navbar {
	background: #000000;
}

#bottom-navbar nav {
	background: #000000;
}

#bottom-navbar .nav-link {
	display: inline-table;
    display: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: 0px
}

#bottom-navbar a:hover {
	color: #ffffff;
}

#navbarBottomItem a {
    font-size: 11px;
    color: #8d8d8d;
}

#bottom-navbar ul {
	margin-left: -10px;
}

.border-term {
	height: 11px; 
	margin-top: 9;
	border-right: 1px solid #8d8d8d;
    border-left: 1px solid #8d8d8d;
}

.center img {
	margin-right: 10px;
}

.center img:hover {
	
	font-size: 150%;
}

.info-slide p {
	text-align: center;
    margin-right: 40px;
    font-size: 12px;
}

.info-slide a {
	position: relative;
	left: 50px;
	top: -10px;
}

.info-slide {
	position: relative;
    top: -105px;
}

.name-product {
	margin-top: 7px;
    margin-bottom: 2px;
}

.block-sale {
	position: absolute;
}

.block-sale p {
	position: relative;
    top: -48px;
    left: 5px;
    font-size: 10px;
    font-family: Myriad Pro;
    color: #ffffff;
}

.img-item {
	margin-right: -60px;
	margin-bottom: -95px;
}

.hover-center {
	position: absolute;
	margin-top: 10px;
	margin-left: 45px;
	z-index: -1;
}

.hover-center p {
	position: relative;
    top: 115px;
    left: 43px;
    font-size: 12px;
    color: #ffffff;
}

.shop-icon {
	position: relative;
    top: 110px;
    left: 50px;
}

.image-hove:hover {
	z-index: 1;
}

#product-content-nav-first nav {
	margin-left: -15px;
	height: 30px;
}

#product-content-nav-first hr {
	margin-bottom: 0px;
    margin-top: 0px;
}

#product-content-nav-first nav p {
    margin-right: 15px;
    margin-bottom: -2px;
    font-size: 11px;
    color: #7a706d;
}

#product-content-main-img {
	margin-top: 26px;
}

.extra-img {
	margin-top: 15px;
	width: 120%;
}

.content-artical {
	margin-left: 52px;
	font-size: 12px;
}

.name-clothes {
	margin-top: -8px;
	font-size: 24px;
	color: #4a4a4a;
}

.cost-clothes {
	font-size: 36px;
	color: #fd926d;
}

.link-women-clothing {
	color: #fd926d;
}

.arrow-title {
	margin-top: 12px;
}

.arrow-title p {
	margin-top: -17px;
    margin-left: 17px;
}

.view {
	position: relative;
    top: -47px;
    float: right;
}

.content-image span > img {
	margin-left: 15px;
}

.artical {
	margin-top: 34px;
}

.select select {
	height: 31px;
	width: 192px;
}

.bottom-brand {
	margin-right: -25px;
}

.social {
	margin-left: -70px;
}

.infomation {
	margin-left: 50px;
}

.campaigns {
	margin-left: -12px;
}
